{% extends 'base.html' %}
{% load static %}

{% block title %}comments{% endblock %}
{% block page_name %}{{ movie|capfirst }}{% endblock %}

{% block body %}

    <div class="row m-1">
    <div>
        <h4>{{ parent_comment.user.username }}</h4>
        <p>{{ parent_comment.comment_body }}</p>
        <br>
    </div>
    </div>


    <div class="row">
        {% for reply in all_replies %}
            <hr>
            <h6>{{ reply.user.username }}:</h6><p>{{ reply.comment_body }}</p>

        {% endfor %}
    </div>

    <div class="row">
        <form action="{% url 'comment:reply-comments' parent_comment.id %}" method="post">
        {% csrf_token %}

        <div style="scale: 90%">
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Reply</button>
        </div>

        </form>

    </div>

{% endblock %}