{% extends 'base.html' %}
{% load static %}



{% block title %}login{% endblock %}IMDb
{% block page_name %}Login{% endblock %}


<!-- Designing the navbar -->
{% block navbar %}
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

  <div class="container-fluid">
    <!--Logo-->
    <div class="container-fluid">
        <a class="navbar-brand" href='#'>
            <img src="{% static 'movies/logo2.png' %}" alt="Logo" class="logo">
        </a>
    </div>


  </div>
</nav>
{% endblock %}

{% block body %}
    <div class="row text-center" style="margin-bottom: 5%">
    <h1>Welcome</h1>
    <br><br>
    </div>
    <div class="row">
    <div class="row text-center">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 card"
             style=
             "padding-bottom:50px;
             padding-top: 50px;
             margin-bottom: 20%;
             background-color: #373838;
             color: #868686;"
        >
        <form method="post" action="{% url 'login'%}">
            {% csrf_token %}

            <label for="username">Username</label><br>
            <input type="text" id="username" name="username">

            <br><br>

            <label for="password">Password</label><br>
            <input type="text" id="password" name="password">

            <br><br>

            <button class="btn btn-secondary">Login</button>

        </form>
        </div>
        <div class="col-sm-4"></div>
    </div>

    </div>
{% endblock %}
