{% extends 'base.html' %}

{% block title %} {{ movie }} {% endblock %}IMDb
{% block page_name %}{{ movie|title }}{% endblock %}

{% block body %}

    <div class="row">
        <div style="text-align: justify">
            <h5>Imdb Score: {{ movie.imdb_score }} &#11088;</h5>
            <br>
            <p>{{ movie.description }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6" style="scale: 95%">
            <hr>
            <h4>Movie Cast:</h4>
            <br>

            {% for crew in crew %}
            <div class="row">

                <div class="col-sm-4" style="text-align: center">
                    <h5>{{ crew.crew.first_name|title }} {{ crew.crew.last_name|title }}</h5>
                    <div>
                        <img src="{{ crew.crew.avatar.url }}" class="avatar rounded-circle">
                    </div>
                    <br><br>
                </div>

                <div class="col-sm-8 text-center">
                    <h5>{{ crew.role}}</h5>
                    <p style="text-align: justify">
                        {{ crew.crew.description }}
                        <hr><br>
                    </p>
                </div>

            </div>
            {% endfor %}

        </div>

        <div class="col-sm-6 container" style="scale: 90%">
            <h4>Comments</h4>
            <hr>
            <br>

            {% if not comments.all %}
                <p>There is no comment</p>
            {% endif %}

            {% for comment in comments %}
                <h6>{{ comment.user.username }} :</h6>
                    {{ comment.comment_body }}
                <br>
                {% if not comment.modified_time %}
                    {{ comment.created_time}}

                {% else %}
                    {{ comment.modified_time }}
                {% endif %}
                <br>

                <div class="row">
                <div class="col-sm-9"></div>
                <div class="col-sm-1">
                <a href="{% url 'comment:movie-comments' comment.id%}">
                    <div style="scale: 60%; text-align: right; color: #555555">
                    <button class="btn btn-primary">Reply</button>
                    </div>
                </a>
                </div>
                <div class="col-sm-1">
                <a href="#">
                    <div style="scale: 60%; text-align: right; color: #555555">
                    <button class="btn btn-primary">Edit</button>
                    </div>
                </a>
                </div>

                <div class="col-sm-1">
                <a href="#">
                    <div style="scale: 60%; text-align: right; color: darkred">
                    <button class="btn btn-primary">Delete</button>
                    </div>
                </a>
                </div>
                </div>


                <br><br>
            {% endfor %}

            <a href="{% url 'comment:add-comment' movie.id%}" style="text-align: right">
                <button class="btn btn-primary">Add Comment</button>
            </a>

        </div>

    </div>

    <div class="row">
        <div class='m-5'>
            <a href={% url 'edit_movie' movie.id%}>
                <button class="btn btn-secondary">Edit Information</button>
            </a>
        </div>
    </div>



{% endblock %}