<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IMDb Movies</title>

    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>

    <style>
        .title {
            margin: 1px;
            text-align: center;
        }

        .avatar {
            margin-top: 5px;
            width: 90%
        }
    </style>
</head>


<body>
<div class="main container">

    <h2 class="title">IMBd Movies</h2>

    {% if is_valid == True%}
    <h6>Username: {{ user|title }}</h6>
    {% endif %}
    <br><br>

    <div class="content">
        <div class="row">

            {% for movie in movies %}

            <div class="col-sm-3 card title">
            <a href={% url "movie_detail" movie.id %}>
                <img src="{{ movie.avatar.url }}" alt="Movie Image" class="avatar">
            </a>
                <h4>{{ movie }}</h4>
                <p>{{ movie.description }}</p>
            </div>
            {% endfor %}

        </div>
    </div>

</div>

</body>
</html>