a:hover {
    opacity: 80%;
    scale: 105%;
}

.movie_cart {
    padding: 5px;
    text-align: center;
    background-color: #373838;
    color: #868686;
}

.logo {
    width: 12%;
    height:20%;
}

.search_input {
    scale: 70%;
}

.avatar {
    margin-top: 5px;
    width: 90%;
    height: 200px;
}


.content{
    scale: 95%;
}

#news {
    color: black;
    background-color: #555555;
    scale: 85%;
}

#movie_desc{
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
}

#crew_pic {
    height: 100px;
}